
.DS_Store
Final project/.ipynb_checkpoints/final_project-checkpoint.ipynb
Final project/data/item_categories.csv
Final project/data/items.csv
Final project/data/sales_train.csv.gz
Final project/data/sales_train_v2.csv
Final project/data/sample_submission.csv
Final project/data/sample_submission.csv.gz
Final project/data/shops.csv
Final project/data/submission.csv
Final project/data/submission_2.csv
Final project/data/test.csv
Final project/data/test.csv.gz
Final project/data/X_cv.csv
Final project/data/X_test.csv
Final project/data/X_train.csv
Final project/X_train.csv
Final project/.ipynb_checkpoints/desafio_grupo_zap-checkpoint.ipynb
Final project/.ipynb_checkpoints/Final_Project_V2-checkpoint.ipynb
Final project/data/files/X_cv.csv
Final project/data/files/X_test.csv
Final project/data/files/X_train.csv
Final project/data/origin/item_categories.csv
Final project/data/origin/items.csv
Final project/data/origin/sales_train_v2.csv
Final project/data/origin/sample_submission.csv
Final project/data/origin/shops.csv
Final project/data/origin/test.csv
Final project/data/submission/submission.csv
Final project/data/submission/submission_2.csv
Final project/data/submission/submission_3.csv
Final project/Documentation.pptx
Final project/final_project_v2.ipynb
Week-2-Data-leakages/.ipynb_checkpoints/Data+leakages-checkpoint.ipynb
Week-1-Pandas-basics/.ipynb_checkpoints/PandasBasics-checkpoint.ipynb
Data/amazon-employee-access-challenge/test.csv
Data/amazon-employee-access-challenge/test.csv
Final project/.ipynb_checkpoints/PetFinder_NEW-checkpoint.ipynb
